/* overlay.component.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlayContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 12px;
  }
  video {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

app-small-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 5;
}
