<div class="files">
  <div class="filesView">
    @if (['png', 'jpg', 'jpeg', 'gif'].includes(getFileType(filePath))) {
    <img
      src="{{ filePath }}"
      alt="image"
      [ngStyle]="{
        height:
          openOnSecondaryChat && viewWidth >= RESPONSIVE_THRESHOLD
            ? '5vw'
            : '7.5vw'
      }"
      (click)="showOverlay(filePath)"
    />
    } @if (['pdf', 'doc', 'txt'].includes(getFileType(filePath))) {
    <a href="{{ filePath }}" target="_blank">
      <img
        class="otherFiles"
        src="./assets/img/attachments/{{ getFileType(filePath) }}.png"
        alt="image"
        [ngStyle]="{
          height:
            openOnSecondaryChat && viewWidth >= RESPONSIVE_THRESHOLD
              ? '3vw'
              : '5vw'
        }"
    /></a>
    } @if (['mp3', 'wav', 'wma'].includes(getFileType(filePath))) {
    <audio
      controls
      preload="auto"
      src="{{ filePath }}"
      [ngStyle]="{
        width:
          openOnSecondaryChat && viewWidth >= RESPONSIVE_THRESHOLD
            ? '250px'
            : ''
      }"
    ></audio>
    }@if (getFileType(filePath) === 'mp4') {
    <div (click)="showOverlay(filePath)">
      <video
        src="{{ filePath }}"
        alt="video"
        [ngStyle]="{
          height:
            openOnSecondaryChat && viewWidth >= RESPONSIVE_THRESHOLD
              ? '5vw'
              : '7.5vw'
        }"
      ></video>
    </div>
    }
  </div>
</div>
