<section>
  <div class="darkBackground" (click)="closeWindow()"></div>
  @if (showProfil) {
  <!----- show prvProfil ----->
  @for(user of talkToUser; track user){
  <div class="whiteBox">
    <div class="boxHeader">
      <p>{{ "open-send-prv-message.profil" | translate }}</p>
      <div class="positionCloseIcon" (click)="closeWindow()">
        <img src="./assets/img/closeIcon.svg" class="closeIcon" />
      </div>
    </div>
    <img src="{{ user.avatar }}" class="profileImg" />
    <div class="detailsBox">
      <div class="editBtnPosition">
        <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
      </div>

      <div class="statusBox">
        <img
          src="./assets/img/{{
            user.status ? 'onlineRing.svg' : 'offlineRing.svg'
          }}"
          class="onlineIcon"
        />
        @if (user.status) {
        <p class="fontColorGreen">
          {{ "open-send-prv-message.aktiv" | translate }}
        </p>
        } @else {
        <p>{{ "open-send-prv-message.offline" | translate }}</p>
        }
      </div>

      <div class="emailBox">
        <img src="./assets/img/mail-icon.svg" />
        <div class="email">
          <p>{{ "open-send-prv-message.address" | translate }}</p>
          <a href="mailto:wwweewefeff&#64;dede.de" target="_blank">{{
            user.email
          }}</a>
        </div>
      </div>
    </div>
  </div>
  } } @else {
  <!----- show channelMember ----->
  @for(user of users; track user){
  <div class="whiteBox">
    <div class="boxHeader">
      <p>{{ "open-send-prv-message.profil" | translate }}</p>
      <div class="positionCloseIcon" (click)="closeWindow()">
        <img src="./assets/img/closeIcon.svg" class="closeIcon" />
      </div>
    </div>
    <img src="{{ user.avatar }}" class="profileImg" />
    <div class="detailsBox">
      <div class="editBtnPosition">
        <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
      </div>

      <div class="statusBox">
        <img
          src="./assets/img/{{
            user.status ? 'onlineRing.svg' : 'offlineRing.svg'
          }}"
          class="onlineIcon"
        />
        @if (user.status) {
        <p class="fontColorGreen">
          {{ "open-send-prv-message.aktiv" | translate }}
        </p>
        } @else {
        <p>{{ "open-send-prv-message.offline" | translate }}</p>
        }
      </div>

      <div class="emailBox">
        <img src="./assets/img/mail-icon.svg" />
        <div class="email">
          <p>E-Mail-Address</p>
          <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a>
        </div>
      </div>
    </div>
    <button (click)="routeToUser(users)">
      <img src="./assets/img/messageIcon.svg" />
      {{ "open-send-prv-message.message" | translate }}
    </button>
  </div>
  } }
</section>
